
            h1 {
                color: red; 
                background-color: sandybrown;
            }
            #spanId{
                margin: 50px;
                font-size: 25px;
            }
            #thirdDiv{
                width: 500px;
                height: 600px;
                background-color: slategray;
                padding: 50px;
                border: teal;
                border-style: groove;
            }

       